# Created by venv; see https://docs.python.org/3/library/venv.html

*.pyc
*.log
*.m3u8
*.ts

.vscode

Include/
Lib/
res/
Scripts/
tests/
data/

modu/_temp/
modu/m3u8/
modu/video/
modu/_pycache__/
